PORT=3003
REDIS_PORT = 6379
DB_HOST=""
DB_DATABASE=""
DB_PASSWORD=""
DB_USERNAME=""
NODE_ENV=""
ACCESS_TOKEN_SECRET = "taher"
ACCESS_TOKEN_EXPIRY = 2d
CLIENT_ID = ""
CLIENT_SECRET = ""
REDIRECT_URL = ""
REFRESH_TOKEN = ""
ADMIN_EMAIL = ""
FORGOTPASSWORD_TOKEN_SECRET = ""
FORGOTPASSWORD_TOKEN_EXPIRY = 1h
EMAIL_VERIFY_TOKEN_SECRET = ""
EMAIL_VERIFY_TOKEN_EXPIRY = 2d
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
CLOUDINARY_CLOUD_NAME = ""